/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	margin: 0 auto;
	background-color: #7ECCC4;
}

header{
	width: 100%;
	border-bottom: solid black 1px;
	padding: .6em;
	background-color: white;
}

nav{
	font-family: 'Roboto', sans-serif;
}

#logo{
	display: inline-block;
	margin: 0;
	margin-top: .2em;
}

#navBar{
	display: inline-block;
	margin-top: 3.4em;
	margin-right: 1em;
	float: right;
}

nav a{
	letter-spacing: .1em;
	padding-left: .4em;
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, p{
	font-family: 'Roboto', sans-serif;
}

#navText{
	padding: 60px;
}

header img{
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: inherit;
}

a:hover{

}

h1{
	margin-top: 0;
}

/************* Gallery *******************/

.tile{
	width: 300px;
	height: 496px;
	background-color: white;
	border-radius: .3em;
	margin: .5em;
	display: inline-block;
}

.postTile{
	width: 300px;
	height: 496px;
	background-color: white;
	border-radius: .3em;
	margin: .5em;
	margin-bottom: 4px;
	display: inline-block;
}

.container{
	text-align: center;
}

.tileContentTop{
	border-bottom: solid #CCC 1px;
}

.tileContentTop h3{
	font-family: 'Roboto', sans-serif;
	color: #15C5F8;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .5em;
}

.tileContent{
	font-family: 'Roboto', sans-serif;
	float: left;
	width: 100%;
}

.tileImage img{
	padding-top: 1em;
	padding-bottom: 1em;
	height: 200px;
	max-width: 300px;
	max-height: 100%;
}

.main {
	float: left;
	margin-left: 8em;
}

.masterside {
	float: left;
	margin-left: 1em;
}

.sidebar{
	width: 300px;
	height: 496px;
	background-color: white;
	border-radius: .3em;
	margin: .5em;
	display: inline-block;
}

.comments {	
	width: 300px;
	margin-left: 10px;	
	background-color: white;
	border-radius: .3em;	
	margin: .5em;
}

.comments h3, form {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}










